
@import "boostrap_variables";

@import "~bootstrap/scss/bootstrap";

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import "sb-admin-2/sb-admin-2";

@import "~datatables.net-dt";

a:hover {
  text-decoration: none;
}

.title-brand a {
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;

}

.buttons-html5 {
  border: 0;
  border-radius: 10px;
  padding: 5px 20px;
  border: 0 solid #444;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #a9e1a9;
  margin: 0 5px 15px 0;
}

.dt-buttons {
  text-align: right;
}

input[type="search"] {
  border: 1px solid #444;
  border-radius: 3px;
}